<style>
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.text-white {
    color: #fff;
}

#logo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}
</style>



<div class="status-design">
  <div class="status-design-left">
    <h3 id="logo" class="text-white p-2" style="font-size: 20px; display: flex; justify-content: center; margin-top: 10px">Daily Status Webapp</h3>
    <h2 class="text-white p-2"><%= @user.name %></h2>
    <p class="borderdeignstatus"></p>

    <div class="d-flex flex-column gap-3 p-2">
      <h3><%= link_to 'Dashboard', root_path, class: "btn btn-primary" %></h3>
      <h3><%= link_to 'Statuses', statuses_path, class: "btn btn-primary" %></h3>
      <h3><%= link_to 'New Status', new_status_path, class: "btn btn-primary" %></h3>
      <h3><%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %></h3>
    </div>
  </div>

  <div class="status-design-right status-design-1">
    <div class="statusheader sticky-top">
      <div class="dropdown d-flex justify-content-end">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <p class="text-end m-0 p-2"><%= current_user.name %></p>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Setting</a></li>
          <%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "dropdown-item" %>
        </ul>
      </div>
    </div>
    <div class="mt-4 p-3">
      <% @statuses.each do |status| %>
        <div class="card text-center mb-5 statusshadow">
          <div class="card-header text-start d-flex justify-content-between"><%= status.user.name %>
            <div class="text-end d-flex align-items-center gap-2">
              <h5 class="card-title m-0 text-white">
                <% if status.status == "pending" %>
                    <p class="text-info m-0"><b>Pending</b></p>
                    <% elsif status.status == "issue" %>
                      <p class="text-danger m-0"><b>Issue</b></p>
                    <% elsif status.status == "resolved" %>
                      <p class="text-warning m-0"><b>Resolved</b></p>
                    <% elsif status.status == "completed" %>
                      <p class="text-success m-0"><b>Completed</b></p>
                    <% end %>
              </h5>
              <%= link_to 'Show', status, class: "btn btn-sm btn-info" %>

              <% if !current_user.admin? %>
              <%= button_to edit_status_path(status), method: :get, class: 'btn btn-sm btn-warning', remote: true do %>
              Edit
              <% end %>
            <% end %>

               <% if current_user.admin? %>
                <%= button_to status_path(status), method: :delete, class: 'btn btn-danger mr-2', data: { turbo_confirm: 'Are you sure?' }, remote: true do %>
                    <i class="fas fa-trash"></i> Delete
                <% end %>
              <% end %>

              <% if current_user.admin? %>
              <% if @status.status = "pending" || @status.status = "resolved" %>
                <%= link_to edit_status_path(status), class: "btn btn-success float-right mb-3", title: "New Status" do %>
                    <i class="fas fa-plus"></i> Add Remark
                <% end %>
              <% end %>
            <% end %>

              <% if current_user.admin? %>
              <% if status.status == "pending" || status.status == "resolved" %>
              <%= button_to mark_completed_status_path(status), method: :get, data: { turbo_confirm: 'Are you sure you want to Mark this Status as Completed?' }, class: 'btn btn-success mr-2', remote: true do %>
                <i class="fas fa-check"></i> Mark as Completed
              <% end %>
            <% end %>
          <% else %>
              <% if status.status == "issue" %>
                <%= button_to mark_resolved_status_path(status), method: :get, data: { turbo_confirm: 'Are you sure you want to Mark this Status as Resolved?' }, class: 'btn btn-success mr-2', remote: true do %>
                  <i class="fas fa-check"></i> Mark as Resolved
                <% end %>
              <% end %>
            <% end %>


            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-start text-secondary">Date : <%= status.date&.strftime('%d-%m-%Y %p') %></p>
            <p class="card-text text-start text-info">GitHub : <%= link_to status.github_pr_link, status.github_pr_link %></p>
            <% if status.remarks.present? %>
            <p class="card-text text-start text-danger"> Remarks :
                <%= status.remarks %>
                  <% else %>
                  <% if status.remarks.present? %>
                  <p class="card-text text-start text-danger"> Remarks : No Remarks
                    <% end %>
              <% end %>
            </p>
          </div>
          <div class="card-footer text-body-secondary">
            <%= time_ago_in_words(status.created_at) %> ago
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<script>
  const logo = document.getElementById('logo');

logo.addEventListener('mouseover', () => {
    logo.style.transform = 'scale(1.2)';
});

logo.addEventListener('mouseout', () => {
    logo.style.transform = 'scale(1)';
});

</script>