<!-- app/views/statuses/show.html.erb -->
<p>
  <strong>GitHub PR Link:</strong>
  <%= @status.github_pr_link %>
  <%= @status.date %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @status.employee&.first_name || "Unknown" %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
