<div class="taskform">
<div class="container mb-4 mt-4">
  <% if task.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: [@status, @task], local: true, html: { class: "mt-4" }) do |form| %>
  <div class="p-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ; border-radius: 15px">
    <div class="mb-3">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :start_time, class: "form-label" %>
      <%= form.datetime_local_field :start_time, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :end_time, class: "form-label" %>
      <%= form.datetime_local_field :end_time, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :output_screenshot, class: "form-label" %>
      <%= form.file_field :output_screenshot, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Save Task", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
</div>
</div>