<!-- app/views/tasks/edit.html.erb -->

<!-- app/views/tasks/new.html.erb -->
<div class="status-design">
    <div class="status-design-left">
      <h3 class="text-white p-2">Daily Status Webapp</h3>
      
      <p class="borderdeignstatus"></p>
  
      <div class="d-flex flex-column gap-3 p-2">
        <h3><%= link_to 'Dashboard', root_path, class: "custom-link" %></h3>
        <h3><%= link_to 'Statuses', statuses_path, class: "custom-link" %></h3>
        <% if current_user.admin? %>
        <% else %>
        <% if current_user.admin? %>
            <% else %>
              <% if current_user.has_submitted_status_today? %>
                <h3 class="custom-link text-danger">You have already created a status today.</h3>
              <% else %>
                <h3><%= link_to 'New Status', new_status_path, class: "custom-link" %></h3>
              <% end %>
            <% end %>
        <% end %>
        <h3><%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "custom-link" %></h3>
      </div>
    </div>
  
    <div class="status-design-right status-design-1">
      <div class="statusheader">
        <p class="text-end m-0 p-2"><%= current_user.name %></p>
      </div>
      <div>
          <h1>Edit Task</h1>
          <%= render 'form', task: @task %>

      </div>
    </div>
  </div>
  




