<h1>All Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Output Screenshot</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.start_time %></td>
        <td><%= task.end_time %></td>
        <td><%= image_tag(task.output_screenshot, class: "screenshot") if task.output_screenshot.attached? %></td>
        <td><%= task.status.github_pr_link %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
