
<div class="sessions-login">
<div class="main-session">
  <div class="session-img">
    <%= image_tag 'back.jpeg', class: "img-fluid session-background" %>
  </div>

  <div class="d-flex flex-column gap-3">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2 class="m-auto">Log in</h2>
  <div class="field d-flex flex-column">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field d-flex flex-column">
    <%= f.label :password, class: "form-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me%>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions d-flex gap-3 justify-content-center mt-4">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>
<%= render "users/shared/links" %>
</div>
</div>
</div>