<style>
  .divider {
    border-left: 1px solid #ccc;
    height: 50px;
    margin-left: 10px;
  }
  
  .logo {
    padding-left: 10px;
  }
</style>

<div class="status-design">
    <div class="status-design-left">
      <h3 id="logo" class="text-white p-2" style="font-size: 20px; display: flex; justify-content: center; margin-top: 10px">Daily Status Webapp</h3>
      <h2 class="text-white p-2">
        <h3 class="text-white p-2"><% if current_user.admin? %> Admin Dashboard <% else %> Employee Dashboard <% end %></h3>
      </h2>
      <p class="borderdeignstatus"></p>
  
      <div class="d-flex flex-column gap-3 p-2">
        <h3><%= link_to 'Dashboard', root_path, class: "custom-link" %></h3>
        <% if current_user.admin? %>
        <h3><%= link_to 'Statuses', statuses_path, class: "custom-link" %></h3>
        <h3><%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "custom-link" %></h3>
        <% else %>
        <h3><%= link_to 'Statuses', statuses_path, class: "custom-link" %></h3>
        <h3><%= link_to 'New Status', new_status_path, class: "custom-link" %></h3>
        <h3><%= link_to "Check Out", checkouts_path, data: { turbo_method: :post }, class: "custom-link" %></h3>
        <h3><%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete}, class: "custom-link"%></h3>
        <% end %>
    </div>


    </div>
    <div class="status-design-right status-design-1">
      <div class="statusheader sticky-top">
        <div class="dropdown d-flex justify-content-end" id="profileDropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.admin? %>
                  <i class="fa fa-solid fa-crown"></i>
              <% else %>
              <i class="fa-solid fa-user"></i>
              <% end %>
              <p class="text-end m-0 p-2"><%= current_user.name %></p>
          </a>
          <ul class="dropdown-menu" id="profileDropdownMenu">
              <%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "dropdown-item logout-link" %>
          </ul>
      </div>
      
      
      </div>
      <div>
        <div>
          <h2 class="text-dark p-2"><% if current_user.admin? %> Admin Dashboard <% else %> Employee Dashboard <% end %> > <span class="text-primary"><%= current_user.name %></span></h2>
        </div>
        <div class="d-flex flex-wrap justify-content-center gap-5 mt-4">

                <div class="card hovereffect" style="max-width: 300px; border-color: #a622cd">
                  <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                      <h5 class="card-title" style="color: #a622cd">Employees <p class="card-text"><%= @employees_present_count %></p></h5>
                    </div>
                    <div class="divider"></div>
                    <div class="logo">
                      <i class="fa-solid fa-users fa-3x" style="color: #a622cd"></i>
                    </div>
                  </div>
                </div>


                <div class="card border-primary hovereffect" style="max-width: 300px;">
                  <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                      <h5 class="card-title text-primary">Pending Reviews
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                <% if current_user.admin? %>
                                <%= "#{@pending_reviews_count}/#{@total_reviews_count}" || 'Loading ..' %>
                            <% else %>
                                <%= "#{@current_employees_pending_reviews_count}/#{@current_employees_total_reviews_count}" || 'Loading ..' %>
                            <% end %>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="divider"></div>
                    <div class="logo">
                      <i class="fa-solid fa-3x fa-clock text-primary"></i>
                    </div>
                  </div>
                </div>

                <div class="card border-success hovereffect" style="max-width: 300px;">
                  <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                      <h5 class="card-title text-success">Completed Reviews
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                <% if current_user.admin? %>
                                <%= "#{@completed_reviews_count}/#{@total_reviews_count}" || 'Loading ..' %>
                            <% else %>
                                <%= "#{@current_employees_completed_reviews_count}/#{@current_employees_total_reviews_count}" || 'Loading ..' %>
                            <% end %>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="divider"></div>
                    <div class="logo"> 
                      <i class="fa-solid fa-3x fa-list-check text-success"></i>
                    </div>
                  </div>
                </div>

                <% if current_user.admin? %>
                  <% else %>
                    <div class="card border-dark hovereffect" style="max-width: 300px;">
                      <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                          <h5 class="card-title text-warning-emphasis">Total Statuses <p class="card-text"><%= @total_statuses_count %></p></h5>
                        </div>
                        <div class="divider"></div>
                        <div class="logo">
                          <i class="fa-solid fa-file-lines fa-3x text-warning-emphasis"></i>
                        </div>
                      </div>
                    </div>
                  <% end %>
                    
                  <div class="card border-warning hovereffect" style="max-width: 300px;">
                    <div class="card-body d-flex justify-content-between align-items-center">
                      <div>
                        <h5 class="card-title text-warning">Resolved Status <p class="card-text"><%= @resolved_reviews_count %></p></h5>
                      </div>
                      <div class="divider"></div>
                      <div class="logo">
                        <i class="fa-solid fa-check-double fa-3x text-warning"></i>
                      </div>
                    </div>
                  </div>

                  <div class="card border-danger hovereffect" style="max-width: 300px;">
                    <div class="card-body d-flex justify-content-between align-items-center">
                      <div>
                        <h5 class="card-title text-danger">Issues Status <p class="card-text"><%= @issued_reviews_count %></p></h5>
                      </div>
                      <div class="divider"></div>
                      <div class="logo">
                        <i class="fa-solid fa-triangle-exclamation fa-3x text-danger"></i>
                      </div>
                    </div>
                  </div>

        </div>

        <div class="card shadow mb-4 mt-5 ms-4 mx-4">
          <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Employees Check in-out Logs</h6>
          </div>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                          <tr>
                              <th style="width: 10%;">#EmployeeID</th>
                              <th style="width: 25%;">Timestamp</th>
                              <th style="width: 15%;">Name</th>
                              <th style="width: 15%;">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% if current_user.admin? %>
                            <% @logs.order(timestamp: :desc).each do |log| %>
                              <tr>
                                <td><%= log.user.id %></td>
                                <td><%= log.timestamp.strftime('%Y-%m-%d %H:%M:%S') %></td>
                                <td><%= log.user.name %></td>
                                <td><%= log.action %></td>
                              </tr>
                            <% end %>
                          <% else %>
                            <% current_user.logs.order(timestamp: :desc).each do |log| %>
                              <tr>
                                <td><%= log.user.id %></td>
                                <td><%= log.timestamp.strftime('%Y-%m-%d %I:%M:%S %p') %></td>
                                <td><%= log.user.name %></td>
                                <td><%= log.action %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                  </table>
              </div>
          </div>
      </div>
          
        </div>
      </div>
    </div>
  </div>
  

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const profileButton = document.getElementById('profileDropdown');
      const logoutLink = document.querySelector('.logout-link');
      
      profileButton.addEventListener('click', function() {
          document.getElementById('profileDropdownMenu').style.display = 'none';
      });
  });
</script>

